table {
	border-collapse: collapse;
	border-spacing: 0;
    margin: 5px 0px 0px 0px;
    width: 800px;
}

th {
    margin: 0px 0px 0px 0px;
    border-top: 1px solid #000000;
    border-right: none;
    border-bottom: 1px solid #000000;
    border-left: none;
    padding: 5px 5px 5px 5px;
}
tr, td {
	margin: 0px 0px 0px 0px;
	border: none;
	padding: 5px 5px 5px 5px;
	font-family: sans-serif;
	font-size: 24px;
}

th:nth-of-type(1), td:nth-of-type(1) {
	text-align: left;
}

th:not(:first-child), td:not(:first-child) {
	text-align: center;
}

.grey {
	background-color: #dddddd;
}

